.details {
    width: 100%;
    text-align: center;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
}

br {
    display: block;
    content: "";
    margin-top: 15px;
}

.details > div {
    margin-right: 20px;
}

.content .header-img {
    display: block;
    width: 500px;
    margin: auto;
}

.problem-img {
    display: inline-block;
}

.problem-img {
    height: 200px;
}

.statement {
    background-color: #cae8f1;
    border-left: 5px solid #4545b9;
    padding: 5px 0 5px 10px;
}

.outline {
    border: 1px solid black;
}

.outline {
    border-spacing: 5px 10px;
}

p {
    margin-top: 15px;
}