.details {
    width: 100%;
    text-align: center;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
}

.details > div {
    margin-right: 20px;
}

.content .header-img {
    display: block;
    width: 500px;
    margin: auto;
}
